header 
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    /* position: fixed; */
    width: 100%;
    margin:auto;
    padding:15px;
    background-color: orange;
    z-index: 2;
}
header a img
{
    width: 100px;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 25px;
}

nav a 
{ 
    color: black;
    margin-left: 40px;
    margin-right: 40px;
    padding: 8px;
    font-size: 25px;    
}

body
{
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

@media only screen and (max-width: 50px) 
{
    nav a
    {
        flex-direction: column;
        width: 100%;
    }
}

footer 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f58e09e7;
    color: black;
    text-align: center;

}

form 
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 400px;
    margin: 0px auto;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f58e09e7;
}

.input-group
{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label,legend
{
    color: rgb(249, 255, 251);
    font-size: 25px;
    font-weight: 80px;
    margin-bottom: 20px;
}
input
{
    padding: 17px;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor:pointer;
}
.defensa
{
    cursor:pointer;
}

.icono-alias
{
    width: 40px;
    height: 40px;
}
.icono-defensa
{
    width: 35px;
    height: 35px;
}

.icono-miedo
{
    width: 45px;
    height: 45px;
}
.icono-tipo
{
    width: 35px;
    height: 35px;
}
#miSelect
{
    cursor:pointer;
}

.btn-con-imagen {
    display: flex; 
    align-items: center; 
    background-color: #4CAF50; 
    color: rgb(5, 4, 4);
    padding: 6px 6px; 
    border:none; 
    border-radius: 5px; 
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer; 
    width: 150px;
    height:50px;
}

.btn-con-imagen img 
{
    margin-right: 10px; 
    width: 35px;
    height: 35px;
}

.spinner-container img 
{
    margin-top: 10px;
    width: 120px; 
    height: 100px;
}

table
{
    margin-left: 120px;
    margin-right: 400px; 
    width:80%; 
    margin-bottom: 20px;
}

th
{
    background-color: #4CAF50;
}

td 
{
    
    align-self: center;
    background-color: #af9d4c;
    border-collapse: collapse;
    text-align-last: center;
    color: rgb(0, 0, 0);
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#botones 
{
    color: #f5f5f5; 
}


#filtroMonstruos,
#promedioMiedoLabel,
#promedioMiedo 
{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;

}

#filtroMonstruos 
{
    color: rgb(253, 253, 253);
    margin-left: 50px;       
}   

#selectFiltroTipo 
{
    width: 200px; 
    margin-left: 20px;
}

#btnFiltrar 
{
    display: block; 
    background-color: #d87607;
    color: rgb(235, 26, 26);
    transition: 0.3s;
    padding: 10px;
    font-weight: 700;
    color: #000000;
    margin-top: 20px;
    margin-left: 20px;
}

.promedioMiedoLabel,
.miedoMaximaLabel,
.miedoMinimoLabel 
{
    margin-left: 500px;
    display: block;
    margin-bottom: 5px; 
}

#promedioMiedo,
#miedoMaximo,
#miedoMinimo 
{
    margin-left: 500px;
    color: rgb(0, 0, 0);
    font-weight: 30px;
    width: 20%;
    box-sizing: border-box;
}


.opcionesCheckboxContainer 
{
    display: flex;
    align-items: center;
}


.opcionesCheckbox 
{
    margin-right: 5px;
}

.contenedor-filtros
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
