@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

header 
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 70px;
    /* position: fixed; */
    width: 100%;
    margin:auto;
    padding:15px;
    background-color: orange;
    z-index: 2;
}
header a img
{
    width: 100px;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 25px;
}

body {
    background-image: url('fondo.jpg');
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 400;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


header a {
    color: #c7e9c2;
    font-weight: 3000;
}.navbar a {
    margin-left: 30px;
    margin-right: 30px;
    padding: 15px;
    font-size: 20px;
}

.navbar a:hover {
    background: rgba(244, 241, 71, 0.408);
}

.info{
    color: #000000;
    font-size: 30px;
    font-weight: 400;
    margin-top: 50px; 
    text-align: center;
    background-color: blanchedalmond;
    }

#contenedorMonstruos {
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin-top: 100px;    
}

.monstruo-card {        
    border-radius: 8px;
    border-color: black;
    width: 30%;
    margin: 20px; /* Ajusta el espacio entre las tarjetas */
    text-align: center; /* Centra el contenido dentro de cada tarjeta */
}

.monstruo-card .card-body {
    background-color: rgb(0, 0, 0);
    color: rgb(243, 243, 243);
    font-size: 20px;
}

.monstruo-card .card-header{
    color: rgb(0, 0, 0);
    background-color: rgb(180, 134, 34);
    font-weight: 700;
}

.monstruo-texto {
    flex-grow: 1; /* Hace que el texto ocupe todo el espacio disponible */
}

.monstruo-texto .icono {
    width: 20px; /* Ajusta el ancho de la imagen según tus necesidades */   
    margin-right: 10px;
}

footer 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f58e09e7;
    color: black;
    text-align: center;

}